# Python environments
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.env

# Jupyter Notebook
.ipynb_checkpoints

# Large AI model files
*.pkl
*.h5
*.keras
*.joblib
*.npy
*.npz

# Logs
*.log

# Web dashboard
node_modules/
dist/
dist-ssr/
*.local

# OS files
.DS_Store
Thumbs.db
